.cover {
  position: absolute;
  top: 3px;
  left: 15px;
  right: 15px;
  bottom: 3px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.25s;
}

.cover:hover {
  background-color: rgba(0, 0, 0, 0.699);
}

.p-div {
  padding: 3px;
  margin-left: 0;
  margin-right: 0;
}

.category {
  position: absolute;
  top: 30px;
  left: 60px;
  right: 60px;
  color: white;
}

@media (max-width: 800px) {
  .category {
    position: absolute;
    top: 5px;
    left: 30px;
    right: 30px;
    color: white;
  }

  .text {
    font-size: 15px;
  }
}
/**/
